body{
    margin: 10px 10px;
}
/* code for SECTION 1 tag*/
.sec1{
width: 1922px;
height: 1009px;

background: #02020F;
padding-bottom: 50px;

}
#sec1-div1{

background-color: #02020F;
width: 1922px;
height: 115px;
display: flex;

}

#sec1-div1-div1{
    width: 400px;

margin-left:77px;
display: flex;
height: 120px;


}
#sec1-div1-div1-logo{
    height: 66px;
    width: 66px;
    margin-top: 28px;
}

#sec1-div1-div1-label{
    margin-top: 45px;
    margin-left: 15px;
    color: white;
    font-size:40px;
height: 32px;

font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 30px;
/* identical to box height */


color: #E7DDCE;


}
#sec1-div1-div2{
    display: flex;
    background-color: #d3547c;
    margin-left: 500px;
    width: 1100px;
    height: 100%;
    border-bottom-left-radius:20px ;
    
}
#sec1-div1-div2:hover{
    background-color: #ff7b00;
    transition: 1s;
}
#sec1-div1-div2-label{
    height:100%;
width: 62px;

top: 18.5px;
border-radius: nullpx;
font-family: Nico Moji;
font-size: 20px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;
color: white;
margin-left: 100px;
margin-top: 53.5px;
}
#sec1-div1-div2-label:hover{
    
    padding-top: 20px;
    border-radius: 10px;
    transition: 1s;

}

#sec1-div1-div2-btn{
    height: 57px;
    width: 153px;
    background: #E7DDCE;
    border: 1px solid rgba(255, 255, 255, 0.25);
border-radius: 10px;
color: #02020F;
font-size: 20px;
font-weight: 900px;
margin-left: 100px;
margin-top: 32px;
}
#sec1-div1-div2-btn:hover{
    background-color: #ac2a51;
    width: 160px;
    transition: 1s;
    margin-left: 90px;
    color: white;
    font-weight: 700px;

}
#sec1-div1-div1-img3{
    width: 40px;
    height: 20px;
}

#sec1-div2{
    background-color:#02020F;
    width:1922px;
    height:700px;
    display: flex;
    margin-top: 0px;


}
#sec1-div2-div1{
    background: none;
    width:750px;
    height:600px;
    margin-left: 110px;
    margin-top: 50px;

    display: flex;


}

#sec1-div2-div2{
    background-color:#02020F;
    width:1000px;
    height:600px;
    
    margin-left: 50px;
    margin-top: 30px;


}

#sec1-div2-div1-img1{
    width: 613px;
    height: 613px;
    margin-left: 120px;
    margin-bottom: 30px;
    
    
    
}
#sec1-div2-div1-img2{
    width: 700px;
    height: 350px;
    margin-left:-850px; 
    margin-top: 180px;
    

}

#sec1-div2-div2{
    width: 800PX;
    height: 600PX;
    background-color:rgb(14, 148, 193);
    margin-left: 200px;
    margin-top: 50px;

    
}

#sec1-div2-div2-h1{
    position: absolute;
width: 800px;
height: 144px;
margin-left: 20px;

font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 130px;
line-height: 144px;


color: #FFFFFF;


}
#sec1-div2-div2-P1{
    position: absolute;
width: 743px;
height: 137px;
margin-top: 270px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 500;
font-size: 45px;
line-height: 130%;
/* or 65px */
margin-right: 50px;
text-align: right;

color: rgba(255, 255, 255, 0.6);

}

#sec1-div2-div2-btn1{
    height: 80px;
width: 245px;
margin-top: 450px;
margin-right: 10px;
border-radius: 20px;
padding: 30px 60px 30px 60px;

flex-direction: row;
align-items: center;
gap: 10px;
margin-left: 320px;
color: white;
font-size: 20px;
font-weight: 700px;

/* gradient */

background: linear-gradient(136.96deg, #FF1735 7.24%, #A81B2D 87.99%);
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

    
}
#sec1-div2-div2-btn2{
    height: 80px;
width: 160px;
border-radius: 20px;
padding: 30px 60px 30px 60px;
/* Auto layout */
color: white;
font-weight: 700px;
font-size: 22px;


flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 60px;
gap: 10px;


background: rgba(255, 255, 255, 0.05);
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;


}

#sec1-div2-div1-img3{
    margin-left: 50px;
    margin-top: 80px;
    display: flex;
}
#sec1-div3{
    height: 100px;
    width: 1922px;
    margin-top: 80px;

}


#sec1-div3-img1{
    height: 120ppx;
    width: 150px;
    margin-left: 80px;



}
#sec1-div3-img2{
    height: 120ppx;
    width: 150px;
    margin-left: 370px;


}
#sec1-div3-img3{
    height: 120ppx;
    width: 150px;
    margin-top: 30px;

    margin-left: 370px;


}
#sec1-div3-img4{
    height: 70ppx;
    width: 150px;
    margin-left: 370px;


}







/* code for section 2 */
.sec2{
    background-color:#E7DDCE;
    width:1922px;
    height:1950px;
    padding-top: 50px;
}

#sec2-div1{

    margin-top: 50px;
    width: 1700px;
    height: 654px;
    display: flex;
    border: 3px solid black;
    border-radius: 40px;
    
    margin-left: 90px;
    margin-right: 50px;
    margin-bottom: 50px;



}


#sec2-div1-div1{
    width: 700px;
    height: 604px;
    margin-left:50px;

}

#sec2-div1-div1-h1{
    position: absolute;
width: 630px;
height: 130px;
left: 140px;
top: 1249px;

font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 130%;
/* or 65px */


color: #000000;


}
#sec2-div1-div1-p1{
    position: absolute;
width: 650px;
height: 79px;
left: 141px;
top: 1440px;

font-family: 'Ubuntu';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
/* or 150% */


color: rgba(0, 0, 0, 0.6);


}
#sec2-div1-div1-btn1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 60px;
gap: 10px;

position: absolute;
width: 263px;
height: 88px;


/* gradient */

background: linear-gradient(136.96deg, #FF1735 7.24%, #A81B2D 87.99%);
border: 2px solid rgba(255, 255, 255, 0.6);
border-radius: 20px;
color: white;
font-weight: 700px;
font-size: 22px;
margin-top: 420px;

}

#sec2-div1-div2{
    width: 700px;
    height: 604px;
    margin-left: 50px;

}
#sec2-div1-div2-img1{
width: 684px;
height: 600px;
margin-left: 150px;

}
#sec2-div2{
    width:1968px;
    height: 250px;
    margin-left: 50px;
    margin-top: 150px;
}
#sec2-div2-label1{
    position: absolute;
width: 524px;
height: 60px;
margin-top: 0px;

font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;
/* identical to box height */


color: #000000;

}
#sec2-div2-pre2{
    font-size: 20px;
    margin-top: 30px;
}
#sec2-div2-div1{
    margin-left: 700px;
    margin-top: -150px;
}
#sec2-div3{
    width:1922px;
    background-color: #1cc690;
    height: 700px;

    margin-top: 100px;
    padding-top: 30px;

}
#sec2-div3:hover{
    background-color: #d3547c;
    transition: 0.1s;
}
#sec2-div3-div1{
    background-color: black;
    display: flex;
    width: 520px;
    height: 130px;
    border-radius: 15px;
    display: flex;
    margin-left: 65px;
    margin-top: 70px;
    float:left



}
#sec2-div3-div1-img1{
    height: 93px;
    width: 93px;
    margin: 20px 20px;
}
#sec2-div3-div1-label1{
    margin-left: 17px;
    margin-top: 25px;
    color: white;
    font-size: 25px;
    line-height: 37px;


}
#sec2-div3-div1-img2{
    height: 23px;
    width: 23px;
    margin-top: 75px;
    margin-left:-124px;
}

#sec2-div3-div1-label2{
    margin-left: -320px;
    margin-top:77px ;
    font-size: 16px;
    color: white;
    font-weight: 500px;
    font-size: 18px;

}
#sec2-div3-div1-img3{
    height: 10px;
    margin-top: 57px;
    margin-left: 270px;

}




/* code for section 3 */
.sec3{height: 1880px;
    width: 1922px;

    border-radius: 0px;
    background-color: #000000;
    padding-top:50px

}

#sec3-div1{
    width:1922px;
    height: 100px;
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;

    
}

#sec3-div1-label1{
    
width: 520px;
height: 81px;
margin-left: 100px;

font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 135.5%;
/* or 81px */


color: #FFFFFF;


}
#sec3-div1-select1{
    margin-left: 600px;
    margin-top: 20px;
    background-color: #000000;
    border: 2px solid grey;
    color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    height: 60px;
    
}
#sec3-div1-select2{
    margin-left: 600px;
    margin-top: 20px;
    margin-left: 50px;
    background-color: #000000;
    border: 2px solid grey;
    color: white;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    font-size: 20px;
    height: 60px;

}
#sec3-div2{
    height: 1700px;
width: 1922px;

border-radius: 0px;
background-color: #000000;

}
#sec3-div2-div1{
    background: rgba(255, 255, 255, 0.03);
border: 1.13171px solid rgba(255, 255, 255, 0.25);
border-radius: 11.3171px;
    width: 410px;
    height: 650px;
    margin-left: 50px;
    margin-top: 60px;
    float: left;
    
}
#sec3-div2-div1-div1{
    width:400px;
    height: 90px;
    margin-top: 10px;
    padding-top: 10px;
}
#sec3-div2-div1-div2{
    width:400px;
    height: 30px;
    margin-top: 10px;
    padding-top: 10px;
}
#sec3-div2-div1-img1{
    width: 400px;
    height: 387px;
    margin-left: 5px;
}
#sec3-div2-div1-img1:hover{
    transform: rotate(5deg);
    transition: 1s;

}
#sec3-div2-div1-div1{

    width: 400px;
    height: 100px;
}
#sec3-div2-div1-div1-label1{
    font-size: 20px;
    font-weight: 500px;
    color: white;
    margin-left: 20px;

    margin-top: 30px;
    padding-top: 10px;


}

#sec3-div2-div1-div1-label2{
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;

}
#sec3-div2-div1-div2-label1{
    color: white;
    font-size: 15px;
    margin-left: 30px;
    margin-top: 20px;

}

#sec3-div2-div1-div2-label2{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 210px;

}

#sec3-div2-div1-div1-img1{
    width: 90px;
    height: 90px;
    margin-left: 300px;
    margin-top: -55px;
}


#sec3-div2-div1-div3{
    width:400px;
    height: 60px;
    margin-top: 10px;
    display: flex;
}

#sec3-div2-div1-div3-img1{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 0px;

}
#sec3-div2-div1-div3-label1{
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;

}
#sec3-div2-div1-div3-label2{
    margin-top: 0px;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;

}

/*code for section 4 */
.sec4{
    background-color:#E7DDCE;
    width:1922px;
    height:1765px;
    


}
#sec4-div1{
    height: 600px;




}

    

#sec4-div1-h1{
width: 201px;
height: 81px;
margin-left: 100px;
margin-bottom: -30px;
margin-top: 100px;



font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 60px;

/* or 81px */


color: #000000;


}

#sec4-div1-div1{
    width: 450px;
    height: 200px;
    background-color: black;
    margin-top: 50px;
    margin-left: 22px;
    display: flex;
    float: left;
    border-radius: 10px;

}
#sec4-div1-div1-img1{
    margin-top: 35px;
    margin-left:25px;
    height: 140px;
    width: 140px;

}
#sec4-div1-div1-img2{
    margin-left: 20px;
    margin-top: 75px;
    height: 80px;
    width: 80px;


}
#sec4-div1-div1-label1{
    margin-top: 85px;
    margin-left: 20px;
    font-size: 20px;
    color: white;

}
#sec4-div1-div1-label2{
    margin-top: 130px;
    margin-left: -150px;
    color: white;
    font-size: 17px;

}
#sec4-div2{
    margin-top: 30px;
}
#sec4-div2-img1{
    width: 50px;
    height: 50px;
    margin-left: 900px;

}
#sec4-div2-img2{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    

}
#sec4-h1{
    color:black;
    font-size: 65px;
    margin-left: 210px;
}

#sec4-div3{
    background-color:#51877b;
    height: 1100px;
    padding-top: 40px;
    width: 100%;
    padding-bottom: 50px;

}

#sec4-div3-img1{
    margin-top: 200px;
    margin-left: -100px;
}
.accordion {
    color:WHITE;
    cursor: pointer;
    padding: 10px 20PX;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 22px;
    transition: 0.4s;
    
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(30px);
  
  
  
    width: 1540px;
    height: 80px;
    display: flex;
    margin-left: 180px;
    margin-bottom: 100px;
    margin-top: 40PX;
    border-radius: 10px;
  }
  

  
  
  .panel {
    padding: 0 20px;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    
    width: 79%;
    margin-left: 180px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 150px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(30px);
  }
  #container-img1{
    width: 40px;
    height: 40px;
    margin-left: 970px;
    margin-top: 10px;
    
  }
  #container-img1:active{
    transform: rotate(180deg);
    
  }
#sec4-div3-btn1-h1{
    margin-top: 13px;
}
.panel p{
    font-size: 18px;
}
/*code for section 5 */
.sec5{
    background-image: url('images/20794\ [Converted]-01\ 1.png');
    width:1922px;
    height:358px;
    padding-top: 30px;

}
#sec5-h1{
    color: white;
    text-align: center;
    font-family: 'Nico Moji';
font-style: normal;
font-weight: 400;
font-size: 80px;

height: 54px;

}
#sec5-pre1{
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-top: -20px;
    font-size:20px;

}
#sec5-form{
    text-align: center;
    margin-top: 40px;
    background: none;
}
#sec5-input1{
    width: 163px;
height: 49px;
left: 531px;
top: 6627px;
margin-left: 20px;
padding-left: 10px;

background: rgba(217, 217, 217, 0.1);
border-radius: 10px;
border: none;
font-size: 18px;


color: rgba(255, 255, 255, 0.25);


    
}
#sec5-input2{
    width: 163px;
    height: 49px;
    left: 531px;
    top: 6627px;
    margin-left: 20px;
padding-left: 10px;
font-size: 18px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    border: none;
    

color: rgba(255, 255, 255, 0.25);

    

}
#sec5-input3{
    width: 331px;
height: 49px;
margin-left: 20px;
padding-left: 10px;
    left: 531px;
    top: 6627px;
    font-size: 18px;
    
    background: rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    

    color: white;
    font-weight: 500px;
    border: none;


    

}
#sec5-input4{
    background: linear-gradient(136.96deg, #FF1735 7.24%, #A81B2D 87.99%);
border: 1px solid rgba(255, 255, 255, 0.50);
margin-left: 20px;
border-radius: 10px;
font-size: 20px;
color:white;
width: 160px;
height: 49px;


}

/*code for section 6 */
.sec6{
    background: rgba(0, 0, 0, 0.97);
backdrop-filter: blur(6px);


    width:1922px;
    height:600px;
    display: flex;
    margin-bottom: 100px;

}

#sec6-div1{
    width: 600px;
    height: 550px;
    background: none;
backdrop-filter: blur(6px);
    margin-left: 100px;
    margin-top: 20px;
}
#sec6-div1-div1{
    width: 600px;
    height: 100px;
    margin-top: 40px;
    display: flex;

}
#sec6-div1-img1{
    height: 50px;
    width: 50px;
    margin-left: 15px;
    margin-top: 20px;
}
#sec6-div1-div2{
    width: 600px;
    height: 100px;
    margin-top: 40px;

}
#sec6-div2{
    width: 600px;
    height: 550px;
    background: none;
    backdrop-filter: blur(6px);
    margin-left: 550px;
    margin-top: 20px;
}
#sec6-div2-img1{
    width: 216px;
    height: 402px;

    
}
#sec6-div2-img2{
    width: 288px;
    height: 383px;
    margin-left: 50px;
    margin-top: 30px;

}

#sec6-div2-h1{
    color: white;
    font-weight: 600px;
    font-size: 22px;
    margin-top: 100px;
    text-align: center;
    margin-left: 20px;

}
#sec6-div1-div1-img1{
    margin-left: 20px;
    margin-bottom: 30px;
    
}
#sec6-div1-div1-h1{
    color:white;
    font-weight: 700px;
    font-size: 50px;
    margin-top: 10px;
    margin-left: 20px;

}
#sec6-h1{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-right: 20px;
}
#sec6-div1-div2-h1{
    margin-left: 20px;
    color: white;
    font-size: 20px;
}
#sec6-pre{
    color:white;
    margin-left: 30px;
    font-size: 20px;
    margin-top: 100px;
}

/* hover effects for every fields */

#sec2-div1:hover{
    background-color: #d3547c;
    transition: 0.99s;
    border-radius: 0px;

}
.sec2:hover{
    background-color: #179b9f;
}

#sec2-div1-div1-p1:hover{
    color:#F4DF4EFF;

}
.sec3:hover{
}
#sec3-div2:hover{
    background-color:#0a837f ;
    transition: 0.9s;
}
#sec3-div2-div1:hover{
    background-color:#F95700FF ;
    transition: 1s;
    transform: rotate(360deg);
    height: 650px;
    
    

}
#sec4-div3:hover{
    background-color: #179b9f;
    padding-top: 30px;
    transition: 1s;
    border-radius: 15px;
    margin: 30px;
    width: 1850px;
}

.active, .accordion:hover {
    width: 1590px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: linear-gradient(136.96deg, #FF1735 7.24%, #A81B2D 87.99%);
  
  }
  #sec4-div2-img1:hover{
    border: 2px solid #FF1735;
    border-radius: 45px;

  }
  #sec4-div2-img2:hover{
    border: 2px solid #FF1735;
    border-radius: 45px;


  }
  #sec4-div1:hover{
    background-color:#46696d;
    transition: 1s;
    

  }
  #sec4-div1-div1:hover{
    background-color:#1ebaa3;
    transition: 0.8s;
    padding-right: 20px;
    border-radius: 10px;

    
    

  }
  
  #sec2-div3-div1:hover{
    background-color:#179b9f;
    padding-right: 20px;
    margin-left: 70px;
    cursor: pointer;
  }
  #sec2-div3:hover{
    width: 1850px;
    margin: 30px;

    transition: 0.8s;
    border-radius: 20px;
  }
  
#sec1-div2:hover{
    background-color: #ff0022;
    transition: 0.8s;
}
#sec1-div2-div2:hover{
    background-color: rgb(255, 115, 0);
    transition: 1s;
    border-radius: 20px;
    width: 770px;
    height: 570px;



}
.sec6:hover{
    background-color:#669DB3FF;
    transition: 0.8s;
}
.sec5:hover{
    background:#d4849e;
    transition: 0.8S;
}
#sec1-div1:hover{
    background: #0a837f;
}
#sec1-div1-div2-label:hover{
    background-color: #54d385;
    height: 50px;
    width: 140px;
    padding-top: 30px;
    margin-bottom: 0px;
}
#sec3-div1:hover{
    background-color: coral;
    width: 98%;
    margin-left: 20px;
    transition: 1s;
    border-radius: 20px;
}
#sec3-div1-select1:hover{
    background-color:#43b3af;
    padding-right: 10px;
    cursor: pointer;


}
#sec3-div1-select2:hover{
    background-color:#43b3af;
    padding-right: 10px;
    cursor: pointer;


}





/* media querries for responsiveness */
 
 @media screen and (min-width:2000px){
     
    
}